# vim: ft=zsh

alias :q='exit'
alias :wq='exit'
alias rst='exec zsh'

alias pls='sudo'
alias sd='sudo'
alias esd='sudo -E'
alias esudo='sudo -E -H'

alias up='update.py'

function _dcr {
    for context in $(find -type f -regex 'docker-compose\.(yml|yaml)'); do
        (cd $(dirname $context) && docker-compose $@)
    done
}

function dhalt {
    if [ `docker ps -q | wc -l` -gt 0 ]; then
        docker stop `docker ps -q`
    fi
}

function drma {
    if [ `docker container ls -q | wc -l` -gt 0 ]; then
        docker rm `docker container ls -q`
    fi
}

function drmai {
    docker system prune -a -f
    if [ `docker image ls -q | wc -l` -gt 0 ]; then
        docker rmi --force `docker image ls -q`
    fi
}

function drman {
    if [ `docker network ls -q | wc -l` -gt 0 ]; then
        docker network rm `docker network ls -q`
    fi
}

alias d='docker'
alias dc='docker-compose'
alias dcd='docker-compose down'
alias dcu='docker-compose up -d'
alias dcur='_dcr up -d'
alias dcdr='_dcr down'
alias drst='dhalt && drma && drmai && drman'
alias lzd='lazydocker'
alias derst_macos='killall -HUP com.docker.hyperkit'

alias gdb='gdb -q'

alias mkdir='mkdir -p'

alias dig='dig +short'

alias pjson='python3 -m json.tool | bat --decorations never -l json'

alias rn='ranger'

alias gt='gitui'

alias ts='task sync'
alias t='taskwarrior-tui'
alias tt='taskwarrior-tui'


alias zt='zathura'

alias less='bat --paging always --theme gruvbox-dark'
alias cat='bat --decorations never --theme gruvbox-dark'

alias exa='exa --icons'
alias l='exa -lbF --git'
alias la='exa -lbhHigUmuSa --time-style=long-iso --git --color-scale'
alias ll='exa -lbGF --git'
alias llm='exa -lbGF --git --sort=modified'
alias ls='exa'
alias lx='exa -lbhHigUmuSa@ --time-style=long-iso --git --color-scale'
alias tree='exa --icons --tree'

alias vplug='nvim -c "PlugInstall | PlugClean | PlugUpdate | qa!"'
alias vim='nvim'
alias vi='nvim'

alias edit='eval $EDITOR'
alias sedit='sudo -E $EDITOR'
alias zedit='edit ~/.zshrc && rst'
alias fedit='edit ~/.zsh_functions && rst'
alias aedit='edit ~/.aliases && rst'
alias eedit='edit ~/.zshenv && rst'
alias pedit='edit ~/.zprofile && rst'
alias shedit='edit ~/.ssh/config'

function exedit {
    file=$(which $1)
    if [ -n "$file" ]; then
        edit $file
    fi
}

function vedit {
    cd $NVIM_PREFIX
    if [ "$1" != "" ]; then
        res=$(fd "$1" . | sed 's/\s.*//')
        if [ $? -eq 0 ]; then
            nvim $res
            return
        fi
    fi
    nvim init.vim
}

function tgz {
    tar cf - $2 | pigz > $1
}

function ta {
    if tmux ls 2> /dev/null; then
        session=$(tmux ls | fzf | cut -d':' -f1)
        if [ $session != "" ]; then
            tmux attach-session -t $session
        fi
    fi
}

function tn {
    if [ "$1" ]; then
        tmux new-session -A -s "$@"
    else
        tmux new-session -A -s "$(basename $(pwd))"
    fi
}

function peek() {
    if [ -d $1 ]; then
        ls $1
    else
        less $1
    fi
}

function wait_for {
    while [ "$(pgrep $1)" ]; do
        sleep 5;
    done
}

function create {
    file="$1"
    dir="$(dirname $1)"
    mkdir -p "$dir"
    edit "$file"
}
