[user]
	email = trmckay@pm.me
	name = Trevor McKay
[color]
	ui = true
[core]
	pager = less -r
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
